.filter-form {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: flex-start;
    background-color: #2e323c;
    padding: 2%;
    font-weight: bold;
}

.filter-form .filter-item {
    width: calc((100% - 5rem) / 6); /* 6 items with 1rem gap between each */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.filter-form label {
    color: white;
    text-align: center;
    width: 100%;
    background-color: #575c65;
    padding: 0.25rem 0;
}

.filter-form input,
.filter-form select {
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    height: 1.5rem;
    border: none;
}


.filter-form .button-group {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.filter-form .button-group button,
.filter-form .button-group .reset-button {
    font-size: 0.875rem;
    padding: 1%; /* Reduced top and bottom padding */
    padding-right: 4.5%;
    padding-left: 4.5%;
    display: inline-block;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.filter-form .button-group .reset-button {
    background-color: #6c757d;
}

.filter-form .button-group button:hover,
.filter-form .button-group .reset-button:hover {
    background-color: #0056b3;
}

.filter-form .button-group .reset-button:hover {
    background-color: #5a6268;
}

button {
    font-weight: bold;
    text-transform: uppercase;
}