/* General Reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    font-size: 1rem; /* Set a base font size for rem calculations */
    background-color: #333;
}

/* Side Navbar Styles */
.side-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 30%; /* 250px / 16 = 15.625rem */
    height: 100vh;
    background-color: #232222;
    color: white;
    padding: 1.25rem; /* 20px / 16 = 1.25rem */
    box-sizing: border-box;
}

.side-navbar ul {
    list-style-type: none;
    padding: 0;
}

.side-navbar ul li {
    margin: 1.25rem 0; /* 20px / 16 = 1.25rem */
    padding: 0.625rem; /* 10px / 16 = 0.625rem */
    transition: background-color 0.3s ease;
    text-align: center;
}

.side-navbar ul li:hover {
    background-color: #576070;
}

.side-navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.5rem; /* 18px / 16 = 1.125rem */
    display: block;
    width: 100%;
    height: 100%;
}

/* Main Content Styles */
.main-content {
    margin-left: 32%; /* 250px / 16 = 15.625rem */
    padding: 1.25rem; /* 20px / 16 = 1.25rem */
}

.main-content section {
    margin-bottom: 2.5rem; /* 40px / 16 = 2.5rem */
}

.main-content h2 {
    color: white;
    font-size: 1.5rem; /* 24px / 16 = 1.5rem */
}

.main-content p {
    color: white;
    font-size: 1rem; /* 16px / 16 = 1rem */
}

/* Navbar Title */
.navbar-title, .page_titles {
    font-size: 2rem; /* 24px / 16 = 1.5rem */
    font-weight: bold;
    margin-bottom: 1.25rem; /* 20px / 16 = 1.25rem */
    color: white;
    text-align: center;
    border-bottom: 2px solid white; /* Add a white border */
    padding-bottom: 3%;
}

.navbar-title {
    border: 2px solid white;
    padding-top: 3%;
}

.page_titles {
    padding: 1.33rem;
}

li.active {
    background-color: #576070; /* Active background color */
}
